html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* ШРИФТЫ 
//font-family: 'Bebas Neue', sans-serif;
//font-family: 'Open Sans', sans-serif; */


.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

/* ШАПКА САЙТА */
.header {
    background-image: url(/image/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.header-logo img {
    padding-top: 41px;
    margin-bottom: 317px;
}

.header-tittle-h1 {
    color: #ffff;
    margin-bottom: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.709px;
}

.header-tittle-h3 {
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 221px;
}

.header-subtittle {
    color: #ffff;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.7px;
    padding-bottom: 71px;
}

/* НАВИГАЦИЯ */

.nav-navbar {
    height: 65px;
    border: 1px solid #E6E6E6;
    margin-bottom: 57px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}


.navbar-item ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;

}

.navbar-item li {
    margin-right: 35px;
    text-decoration: none;

}

.navbar-item li:last-child {
    margin-right: 0;
}

.navbar-item a {
    text-decoration: none;
    color: rgba(72, 85, 91, 1);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.091px;
    font-family: 'Open Sans', sans-serif;
    transition: color 0.2s;
}

.navbar-item a:hover {
    color: rgba(0, 164, 229, 1);
}

/* О НАС */

.about {
    margin-bottom: 118px;
}

.about-tittle {
    color: #48555B;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2.306px;
    margin-bottom: 10px;
}

.about-line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin: 0 auto;
    margin-bottom: 60px;
}

.about-item-flex {
    display: flex;
    justify-content: space-between;
}

.about-item-flex-left-tittle {
    max-width: 405px;
    width: 100%;
    color: #48555B;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.17px;
    padding-bottom: 30px;
}

.about-item-flex-left-tittle span {
    color: #16ACE8;
}

.about-item-flex-left-suptittle {
    max-width: 405px;
    width: 100%;
    color: #48555B;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
}

.about-item-flex-right {
    display: flex;
    align-items: flex-end;
}

.about-item-img {
    margin-right: 20px;
    width: 145px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.188px;
    padding: 15px;
    text-transform: uppercase;
}

.we-plan {
    background-image: url(/image/we\ plan.png);

}

.we-manage {
    background-image: url(/image/we\ manage.png);
}

.we-build {
    background-image: url(/image/We\ build.png);
    margin-right: 0;
}


/* НАШИ УСЛУГИ */

.service {
    margin-bottom: 115px;
}

.service-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-title-h3 {
    color: #48555B;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}

.service-title-text {
    width: 405px;
    color: #48555B;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
}

.service-title-button {
    padding: 11px 29px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 0.5px;
    background-color: #00A4E5;
    cursor: pointer;
    border-radius: 7px;
}

.line-service {
    margin: 0;
    margin-bottom: 78px;
}

.service-content {
    display: flex;
    justify-content: space-between;
}

.service-content-item {
    padding: 39px 22px;
    border: 1px solid #E6E6E6;
    max-width: 295px;
    width: 100%;
   }

.service-content-img {
    padding-bottom: 25px;

}

.service-content-h3 {
    padding-bottom: 13px;
    color: #48555B;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.427px;
}

.service-content-suptitle {
    color: #48555B;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
}


.feedback {
    background-image: url(/image/bg-feedback.png);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Open Sans', sans-serif;

}

.feedback-tittle {
    padding-top: 120px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    margin: 0 auto;
    color: #48555B;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.feedback-button {
    margin: 0 auto;
    padding: 11px 26px;
    background-color: #00A4E5;
    max-width: 150px;
    width: 100%;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 7px;

}

.feedback-content {
    padding-bottom: 220px;
}